<div class="container">
        <section class="border shadow-lg bg-primary rounded-lg mt-5">
                <h1 class="mt-1 text-alignment text-white font-italic font-family">Update Profile</h1>
        </section>
        <div *ngIf="updateSuccess" class="alert alert-success mt-2">
                User Updated sucessfully
        </div>
    <section class="border shadow-lg rounded-lg section-margin" *ngIf="!updateSuccess">
        
        <form [formGroup]="updateForm" (ngSubmit)="updateUser(updateForm)" novalidate>
        
                
                <div class="form-row ml-3 mr-3">
                    <div class="col-sm-12 col-lg-6  mt-4">
                        <label for="username">Username*</label>
                        <span *ngIf="updateForm.get('userName').touched;else elseBlockUserName">
                            <input type="text" class="form-control" placeholder="Enter Username"
                                formControlName="userName" id="username" name="username" (keyup)="changeValue()"
                                [ngClass]="{
                            'border border-danger': updateForm.get('userName').errors?.required || updateForm.get('userName').errors?.minlength 
                            || updateForm.get('userName').errors?.maxlength || userPresent, 
                            '': !updateForm.get('userName').errors?.required || !updateForm.get('userName').errors?.minlength || !updateForm.get('userName').errors?.maxlength
                          }" />
                            <div>
                                <div class="text-danger  position-absolute"
                                    *ngIf="updateForm.get('userName').errors?.minlength || updateForm.get('userName').errors?.maxlength">
                                    Length should be between 2 & 15!
                                </div>

                                <div class="text-danger position-absolute"
                                    *ngIf="updateForm.get('userName').errors?.required">
                                    Username is required!
                                </div>
                            </div>
                        </span>
                        <ng-template #elseBlockUserName><input type="text" class="form-control"
                                placeholder="Enter Username" formControlName="userName" id="username" name="username" />
                        </ng-template>
                        <div *ngIf="userPresent" class="text-danger position-absolute">
                            User Already Exists
                        </div>
                    </div>
                </div>

                <div class="form-row ml-3 mr-3">
                    <div class="col-sm-12 col-md-6  mt-4">
                        <label for="password">Password*</label>
                        <span *ngIf="updateForm.get('password').touched;else elseBlockPassword">
                            <input type="password" class="form-control " placeholder="Enter New Password" name="password"
                                formControlName="password" id="password" [ngClass]="{
                                'border border-danger': updateForm.get('password').errors?.required || updateForm.get('password').errors?.minlength || updateForm.get('password').errors?.maxlength, 
                                '': !updateForm.get('password').errors?.required || !updateForm.get('password').errors?.minlength || !updateForm.get('password').errors?.maxlength
                              }" />
                            <div>
                                <div class="text-danger position-absolute"
                                    *ngIf="updateForm.get('password').errors?.minlength || updateForm.get('password').errors?.maxlength">
                                    Password should be between 2 & 15!
                                </div>

                                <div class="text-danger position-absolute"
                                    *ngIf="updateForm.get('password').errors?.required">
                                    Password is required!
                                </div>
                            </div>
                        </span>
                        <ng-template #elseBlockPassword>
                            <input type="password" class="form-control " placeholder="Enter New Password" name="password"
                                formControlName="password" id="password" />
                        </ng-template>
                    </div>
                    <div class="col-sm-12 col-md-6 mt-4">
                        <label for="cnfpassword">Confirm Password*</label>
                        <span *ngIf="updateForm.get('confirmPassword').touched;else elseBlockConfirmPassword">
                            <input type="password" class="form-control" placeholder="Confirm New Password" name="password"
                                formControlName="confirmPassword" id="cnfpassword" (keyup)="checkIfMatchingPasswords()"
                                [ngClass]="{
                                'border border-danger': updateForm.get('confirmPassword').errors?.required, 
                                '': !updateForm.get('confirmPassword').errors?.required 
                              }" />
                            <div class="text-danger position-absolute"
                                *ngIf="!checkpass && !updateForm.get('confirmPassword').errors?.required">
                                Passwords should be same
                            </div>
                            <div class="text-danger position-absolute"
                                *ngIf="updateForm.get('confirmPassword').errors?.required">
                                Confirm Password is required
                            </div>

                        </span>
                        <ng-template #elseBlockConfirmPassword>
                            <input type="password" class="form-control" placeholder="Confirm New Password" name="password"
                                formControlName="confirmPassword" id="cnfpassword"
                                (keyup)="checkIfMatchingPasswords()" />
                        </ng-template>
                    </div>
                </div>
         
                <div class="form-row ml-3 mr-3">
                    <div class="col-sm-12 col-md-6  mt-4">
                        <label for="contactnumber">Contact Number*</label>
                        <span *ngIf="updateForm.get('contactNo').touched;else elseBlockContactNumber">
                            <input type="text" class="form-control " placeholder="Enter Contact Number" name="contactNo"
                                formControlName="contactNo" id="contactnumber"
                                onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))"
                                [ngClass]="{
                                'border border-danger': updateForm.get('contactNo').errors?.required || updateForm.get('contactNo').errors?.minlength || updateForm.get('contactNo').errors?.maxlength,
                                '': !updateForm.get('contactNo').errors?.required  || !updateForm.get('contactNo').errors?.minlength || !updateForm.get('contactNo').errors?.maxlength
                              }" />

                            <div class="text-danger position-absolute"
                                *ngIf="updateForm.get('contactNo').errors?.minlength || updateForm.get('contactNo').errors?.maxlength">
                                Contact Number should be of 10 digits!
                            </div>
                            <div class="text-danger position-absolute"
                                *ngIf="updateForm.get('contactNo').errors?.required">
                                Contact Number is required
                            </div>
                        </span>
                        <ng-template #elseBlockContactNumber>
                            <input type="text" class="form-control " placeholder="Enter Contact Number" name="contactNo"
                                formControlName="contactNo" id="contactnumber"
                                onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))" />
                        </ng-template>
                    </div>
                    <div class="col-sm-12 col-md-6 mt-4">
                        <label for="emailid">Email*</label>
                        <span *ngIf="updateForm.get('emailId').touched;else elseBlockEmail">
                            <input type="text" class="form-control" placeholder="Enter Email id" name="emailId"
                                formControlName="emailId" id="emailid" [ngClass]="{
                                'border border-danger': updateForm.get('emailId').errors?.required,
                                '': !updateForm.get('emailId').errors?.required 
                              }" />
                            <div class="text-danger position-absolute" *ngIf="updateForm.get('emailId').errors?.email">
                                Please enter valid email!
                            </div>
                            <div class="text-danger position-absolute"
                                *ngIf="updateForm.get('emailId').errors?.required">
                                Email Id is required!
                            </div>
                        </span>
                        <ng-template #elseBlockEmail>
                            <input type="text" class="form-control" placeholder="Enter Email id" name="emailId"
                                formControlName="emailId" id="emailid" />
                        </ng-template>
                    </div>
                </div>
              

            
            <div class="form-row mt-3 mb-5 ml-3">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary mt-2 "
                        [disabled]="!updateForm.valid  ||!checkpass  ">Update</button>
                </div>
            </div>
        </form>
    </section>
</div>