<div *ngIf="dataLoaded | async" class="container extra-margin-top-hospital">
    <div class="m-3 col-12 justify-content-center">
        <div class="row">
            <h3>Select Company</h3>
        </div>

        <div class="row">
            <select id="vendorType" [(ngModel)]="vendorType" class="form-control row" (change)="filterSelectedData($event.target.value)">
                <option *ngFor="let company of companies" value="{{company.companyCode}}">{{company.companyCode}}</option>
                </select>
        </div>
    </div>
</div>

<div id="container"></div>
<div class="container justify-content-center d-flex"> 
<button (click)="downlaodCsv()" class="btn btn-primary text-alignment ">Import Data</button>
</div>